1 Channel RTD.json
[{"id":"8a672473.d53938","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"74cc1dfb.655934","type":"ncd-wireless-node","z":"8a672473.d53938","name":"RTD ","connection":"84abfe35.08e4f","config_comm":"84abfe35.08e4f","addr":"00:13:a2:00:41:a2:70:ea","sensor_type":"39","auto_config":true,"node_id":0,"delay":"1","destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":790,"y":760,"wires":[["4855427c.a1143c","77baedd.d618714"]]},{"id":"16dd195.67f9de7","type":"switch","z":"8a672473.d53938","name":"RTD","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":800,"wires":[["691f0040.e64f4","c07905b.8f7e1f8"]]},{"id":"4855427c.a1143c","type":"split","z":"8a672473.d53938","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1010,"y":720,"wires":[["16dd195.67f9de7"]]},{"id":"691f0040.e64f4","type":"ui_chart","z":"8a672473.d53938","name":"","group":"2083c95b.214816","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":800,"wires":[[]]},{"id":"c07905b.8f7e1f8","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"2083c95b.214816","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"'C","format":"{{value}}","min":"-40","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":860,"wires":[]},{"id":"6512c000.afb26","type":"ncd-gateway-node","z":"8a672473.d53938","name":"","connection":"84abfe35.08e4f","x":840,"y":540,"wires":[["c6b38dc.f86327"]]},{"id":"77baedd.d618714","type":"debug","z":"8a672473.d53938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":840,"wires":[]},{"id":"c6b38dc.f86327","type":"debug","z":"8a672473.d53938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":540,"wires":[]},{"id":"84abfe35.08e4f","type":"ncd-gateway-config","name":"USB modem","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"2083c95b.214816","type":"ui_group","name":"RTD","tab":"459c002f.aa916","order":6,"disp":true,"width":"12","collapse":false},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard"}]