4-20mA.json
[{"id":"ebcb2b81.4389c8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"93a9d849.b07ae8","type":"ncd-gateway-node","z":"ebcb2b81.4389c8","name":"","connection":"","x":360,"y":260,"wires":[[]]},{"id":"a0ee3bb1.78fa98","type":"ncd-wireless-node","z":"ebcb2b81.4389c8","name":"","connection":"1583fe57.e1e942","config_comm":"1583fe57.e1e942","addr":"","sensor_type":"14","auto_config":"","node_id":0,"delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"force_calibration_co2_auto_config":"","force_calibration_co2":400,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":410,"y":460,"wires":[["6b5cbc66.e593b4"]]},{"id":"6b5cbc66.e593b4","type":"split","z":"ebcb2b81.4389c8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":670,"y":460,"wires":[["77d15cb7.426264"]]},{"id":"77d15cb7.426264","type":"switch","z":"ebcb2b81.4389c8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"adc","vt":"str"},{"t":"eq","v":"mA","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":460,"wires":[["5bd87650.2dfb58","b7971b30.e2df78"],["119231c.1fc60ce","bb01c56.9e01c38"]]},{"id":"5bd87650.2dfb58","type":"ui_gauge","z":"ebcb2b81.4389c8","name":"","group":"90905966.d53d38","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"raw","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":420,"wires":[]},{"id":"b7971b30.e2df78","type":"ui_chart","z":"ebcb2b81.4389c8","name":"","group":"90905966.d53d38","order":1,"width":0,"height":0,"label":"raw","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1024","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1060,"y":500,"wires":[[]]},{"id":"119231c.1fc60ce","type":"ui_gauge","z":"ebcb2b81.4389c8","name":"","group":"90905966.d53d38","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"mA","format":"{{value}}","min":0,"max":"22","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":580,"wires":[]},{"id":"bb01c56.9e01c38","type":"ui_chart","z":"ebcb2b81.4389c8","name":"","group":"90905966.d53d38","order":1,"width":0,"height":0,"label":"mA","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"22","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1070,"y":660,"wires":[[]]},{"id":"1583fe57.e1e942","type":"ncd-gateway-config","name":"USB Modem","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM26","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"90905966.d53d38","type":"ui_group","name":"4-20mA","tab":"459c002f.aa916","order":10,"disp":true,"width":"12","collapse":false},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard"}]