69. Soil Moisture Temperature EC Sensor .json
[{"id":"fc135156.fe109","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f6d8d7e1.d34518","type":"ncd-gateway-node","z":"fc135156.fe109","name":"","connection":"c7dd74a2.790d78","x":380,"y":380,"wires":[[]]},{"id":"db37c781.5313a8","type":"ncd-wireless-node","z":"fc135156.fe109","name":"Soil Moisture Temperature EC Sensor","connection":"c7dd74a2.790d78","config_comm":"c7dd74a2.790d78","addr":"00:13:a2:00:41:d6:71:51","sensor_type":"67","auto_config":"","node_id":"68","delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"force_calibration_co2_auto_config":"","force_calibration_co2":400,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":250,"y":660,"wires":[["89c41e66.acf84","42ef19d1.8686a8"]]},{"id":"89c41e66.acf84","type":"split","z":"fc135156.fe109","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":510,"y":660,"wires":[["51c96352.a6502c"]]},{"id":"51c96352.a6502c","type":"switch","z":"fc135156.fe109","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Moisture","vt":"str"},{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"EC","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":660,"wires":[["edf2e27a.c9fd2","744dcc2a.2eb3c4"],["4779141d.9760dc","a71f26fe.7d5088"],["c7835a62.e345b8","a4e4be2e.affe7"]]},{"id":"a71f26fe.7d5088","type":"ui_chart","z":"fc135156.fe109","name":"","group":"a36c05a1.1d16e8","order":6,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1150,"y":720,"wires":[[]]},{"id":"c7835a62.e345b8","type":"ui_chart","z":"fc135156.fe109","name":"Electrical Conductivity","group":"a36c05a1.1d16e8","order":7,"width":0,"height":0,"label":"EC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":760,"wires":[[]]},{"id":"744dcc2a.2eb3c4","type":"ui_chart","z":"fc135156.fe109","name":"Soil Moisture","group":"a36c05a1.1d16e8","order":5,"width":0,"height":0,"label":"Moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1150,"y":620,"wires":[[]]},{"id":"a4e4be2e.affe7","type":"ui_gauge","z":"fc135156.fe109","name":"Electrical Conductivity","group":"a36c05a1.1d16e8","order":3,"width":0,"height":0,"gtype":"gage","title":"EC","label":"uS/cm","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":800,"wires":[]},{"id":"edf2e27a.c9fd2","type":"ui_gauge","z":"fc135156.fe109","name":"Soil Moisture","group":"a36c05a1.1d16e8","order":1,"width":0,"height":0,"gtype":"gage","title":"VWC ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":580,"wires":[]},{"id":"4779141d.9760dc","type":"ui_gauge","z":"fc135156.fe109","name":"","group":"a36c05a1.1d16e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"-40","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":680,"wires":[]},{"id":"42ef19d1.8686a8","type":"change","z":"fc135156.fe109","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":920,"wires":[["eb5a3fdd.ad075"]]},{"id":"eb5a3fdd.ad075","type":"ui_gauge","z":"fc135156.fe109","name":"","group":"a36c05a1.1d16e8","order":4,"width":"6","height":"4","gtype":"gage","title":"Battery","label":"V","format":"{{value | number:2}}","min":0,"max":"3.3","colors":["#e00600","#e6e600","#07ca00"],"seg1":"","seg2":"","x":1080,"y":920,"wires":[]},{"id":"c7dd74a2.790d78","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM26","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"a36c05a1.1d16e8","type":"ui_group","name":"Soil Moisture Temp EC","tab":"a46cce84.32f12","order":1,"disp":true,"width":"12","collapse":false},{"id":"a46cce84.32f12","type":"ui_tab","name":"Soil Moisture Temp EC","icon":"dashboard","disabled":false,"hidden":false}]