CO2 Sensor.json
[{"id":"8a672473.d53938","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b7277f5e.811fe","type":"ncd-wireless-node","z":"8a672473.d53938","name":"CO2 Sensor","connection":"84abfe35.08e4f","config_comm":"84abfe35.08e4f","addr":"00:13:a2:00:41:d2:49:df","sensor_type":"44","auto_config":true,"node_id":0,"delay":"30","destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":690,"y":640,"wires":[["4fb3a12d.07604","57fe50c5.e60c6"]]},{"id":"4fb3a12d.07604","type":"split","z":"8a672473.d53938","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":900,"y":640,"wires":[["a5def6ba.eeca28"]]},{"id":"a5def6ba.eeca28","type":"switch","z":"8a672473.d53938","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"CO2","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1100,"y":640,"wires":[["f04a2ac9.0399c8","4b1336f6.79fd58"],["df20a7eb.42a248","61a36528.fcb0fc"],["c52b65d4.bed388","5052c375.2f712c"]]},{"id":"5052c375.2f712c","type":"ui_chart","z":"8a672473.d53938","name":"","group":"60afd6aa.b52828","order":5,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1520,"y":820,"wires":[[]]},{"id":"61a36528.fcb0fc","type":"ui_chart","z":"8a672473.d53938","name":"","group":"60afd6aa.b52828","order":6,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1520,"y":720,"wires":[[]]},{"id":"4b1336f6.79fd58","type":"ui_chart","z":"8a672473.d53938","name":"","group":"60afd6aa.b52828","order":7,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1520,"y":600,"wires":[[]]},{"id":"df20a7eb.42a248","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"60afd6aa.b52828","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1540,"y":660,"wires":[]},{"id":"f04a2ac9.0399c8","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"60afd6aa.b52828","order":3,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1520,"y":560,"wires":[]},{"id":"c52b65d4.bed388","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"60afd6aa.b52828","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"-40","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1520,"y":760,"wires":[]},{"id":"57fe50c5.e60c6","type":"change","z":"8a672473.d53938","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":900,"wires":[["652257f0.8934a8"]]},{"id":"652257f0.8934a8","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"60afd6aa.b52828","order":4,"width":"6","height":"4","gtype":"gage","title":"Battery","label":"V","format":"{{value | number:2}}","min":0,"max":"3.3","colors":["#e00600","#e6e600","#07ca00"],"seg1":"","seg2":"","x":1470,"y":900,"wires":[]},{"id":"84abfe35.08e4f","type":"ncd-gateway-config","name":"USB modem","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"60afd6aa.b52828","type":"ui_group","name":"Wireless CO2 Gas Sensor","tab":"459c002f.aa916","order":1,"disp":true,"width":"12","collapse":false},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard"}]