CO2 PM.json
[{"id":"1cd36629.9030aa","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3cd06e3a.d1fb42","type":"ncd-wireless-node","z":"1cd36629.9030aa","name":"CO2 PM Sensor","connection":"291616c0.6be69a","config_comm":"84abfe35.08e4f","addr":"00:13:a2:00:41:ba:bd:7f","sensor_type":"53","auto_config":"","node_id":0,"delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":360,"y":520,"wires":[["ee7b1c61.d651c","5110683.6904698"]]},{"id":"ee7b1c61.d651c","type":"split","z":"1cd36629.9030aa","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":640,"y":540,"wires":[["153261ab.f768ee"]]},{"id":"153261ab.f768ee","type":"switch","z":"1cd36629.9030aa","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mass_concentration_1_0","vt":"str"},{"t":"eq","v":"mass_concentration_2_5","vt":"str"},{"t":"eq","v":"mass_concentration_4_0","vt":"str"},{"t":"eq","v":"mass_concentration_10_0","vt":"str"},{"t":"eq","v":"number_concentration_0_5","vt":"str"},{"t":"eq","v":"number_concentration_1_0","vt":"str"},{"t":"eq","v":"number_concentration_2_5","vt":"str"},{"t":"eq","v":"number_concentration_4_0","vt":"str"},{"t":"eq","v":"number_concentration_10_0","vt":"str"},{"t":"eq","v":"typical_size","vt":"str"},{"t":"eq","v":"Humidity","vt":"str"},{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"CO2","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":900,"y":540,"wires":[["47980387.66711c","e0432511.e2f3c8"],["43c37a2d.953cb4","fee0dd3c.cb4b7"],["e8a7ff26.520a3","779c96a.5a58b68"],["cdd856cd.ab3438","6474ceae.9d735"],["ad2c3710.f9eca8","ce382ab7.91b718"],["65355948.b8f658","55fc0977.1447b8"],["5c513e79.ee8ea","36f6e2ad.11709e"],["3e0ba40d.8303dc","5a9bc225.8dac9c"],["f87d8167.7aa47","f2c83236.0402d"],["e4ada729.70edd8","54fdbb28.edcca4"],["1033aeef.c932e1","569fff89.1f657"],["efadbf5.ba5614","d37f5481.e8a108"],["a54627b8.5d7478","d7e3cfa6.ac885"]]},{"id":"47980387.66711c","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":1,"width":0,"height":0,"label":"mass_concentration_1_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":240,"wires":[[]]},{"id":"43c37a2d.953cb4","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":2,"width":0,"height":0,"label":"mass_concentration_2_5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":320,"wires":[[]]},{"id":"e8a7ff26.520a3","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":3,"width":0,"height":0,"label":"mass_concentration_4_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":400,"wires":[[]]},{"id":"cdd856cd.ab3438","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":4,"width":0,"height":0,"label":"mass_concentration_10_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1280,"y":460,"wires":[[]]},{"id":"ad2c3710.f9eca8","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":5,"width":0,"height":0,"label":"number_concentration_0_5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1280,"y":520,"wires":[[]]},{"id":"5c513e79.ee8ea","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":7,"width":0,"height":0,"label":"number_concentration_2_5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1280,"y":620,"wires":[[]]},{"id":"3e0ba40d.8303dc","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":8,"width":0,"height":0,"label":"number_concentration_4_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1280,"y":680,"wires":[[]]},{"id":"f87d8167.7aa47","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":9,"width":0,"height":0,"label":"number_concentration_10_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1280,"y":740,"wires":[[]]},{"id":"e4ada729.70edd8","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":10,"width":0,"height":0,"label":"Typical Size","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":800,"wires":[[]]},{"id":"1033aeef.c932e1","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":11,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":860,"wires":[[]]},{"id":"efadbf5.ba5614","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":12,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":920,"wires":[[]]},{"id":"a54627b8.5d7478","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":13,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":980,"wires":[[]]},{"id":"65355948.b8f658","type":"ui_chart","z":"1cd36629.9030aa","name":"","group":"3550df22.1c661","order":6,"width":0,"height":0,"label":"number_concentration_1_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1280,"y":560,"wires":[[]]},{"id":"5110683.6904698","type":"debug","z":"1cd36629.9030aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":460,"wires":[]},{"id":"e0432511.e2f3c8","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_1_0","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1280,"y":200,"wires":[]},{"id":"fee0dd3c.cb4b7","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_2_5","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":280,"wires":[]},{"id":"779c96a.5a58b68","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_4_0","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":340,"wires":[]},{"id":"6474ceae.9d735","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_10_0","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":460,"wires":[]},{"id":"ce382ab7.91b718","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_0_5","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":520,"wires":[]},{"id":"55fc0977.1447b8","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_1_0","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":580,"wires":[]},{"id":"36f6e2ad.11709e","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_2_5","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1580,"y":640,"wires":[]},{"id":"5a9bc225.8dac9c","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_4_0","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1580,"y":700,"wires":[]},{"id":"f2c83236.0402d","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_10_0","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1580,"y":760,"wires":[]},{"id":"54fdbb28.edcca4","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"Typical Size","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":820,"wires":[]},{"id":"569fff89.1f657","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1520,"y":880,"wires":[]},{"id":"d37f5481.e8a108","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"-40","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1530,"y":920,"wires":[]},{"id":"d7e3cfa6.ac885","type":"ui_gauge","z":"1cd36629.9030aa","name":"","group":"1fc0ae01.582e42","order":0,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"units","format":"{{value}}","min":"0","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1510,"y":980,"wires":[]},{"id":"291616c0.6be69a","type":"ncd-gateway-config","name":"Wireless CO2 PM Sensor ","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM26","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"84abfe35.08e4f","type":"ncd-gateway-config","name":"Wireless CO2 PM Sensor ","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM26","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"3550df22.1c661","type":"ui_group","name":"CO2 PM Sensor","tab":"459c002f.aa916","order":5,"disp":true,"width":"12","collapse":false},{"id":"1fc0ae01.582e42","type":"ui_group","name":"Live CO2 PM Sensor","tab":"459c002f.aa916","order":6,"disp":true,"width":"12","collapse":false},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard","disabled":false,"hidden":false}]