EC DO.json
[{"id":"8a672473.d53938","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fe4f0441.de37c8","type":"ncd-wireless-node","z":"8a672473.d53938","name":"EC DO Temp","connection":"c7dd74a2.790d78","config_comm":"c7dd74a2.790d78","addr":"00:13:a2:00:41:a2:70:ea","sensor_type":"66","auto_config":"","node_id":0,"delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":762,"y":590,"wires":[["b5680556.0e5e88"]]},{"id":"8625623b.c0a4b","type":"switch","z":"8a672473.d53938","name":"EC DO Temp","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"EC","vt":"str"},{"t":"eq","v":"TDS","vt":"str"},{"t":"eq","v":"Salinity","vt":"str"},{"t":"eq","v":"Temp","vt":"str"},{"t":"eq","v":"DO","vt":"str"},{"t":"eq","v":"DO_Saturation","vt":"str"},{"t":"eq","v":"temp","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":1182,"y":630,"wires":[["99ac8bc3.f3f6c8"],["4f241cc8.71e414"],["327b2991.3c1f36"],["1c10dac3.839185"],["b2787b38.74c638"],["107f8f7d.1e73a1"],["ef9f629b.41f05"]]},{"id":"99ac8bc3.f3f6c8","type":"ui_chart","z":"8a672473.d53938","name":"","group":"a56a3c5b.305f","order":1,"width":0,"height":0,"label":"EC","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1462,"y":530,"wires":[[]]},{"id":"b5680556.0e5e88","type":"split","z":"8a672473.d53938","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":942,"y":550,"wires":[["8625623b.c0a4b"]]},{"id":"4f241cc8.71e414","type":"ui_chart","z":"8a672473.d53938","name":"","group":"a56a3c5b.305f","order":2,"width":0,"height":0,"label":"TDS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1472,"y":590,"wires":[[]]},{"id":"327b2991.3c1f36","type":"ui_chart","z":"8a672473.d53938","name":"","group":"a56a3c5b.305f","order":3,"width":0,"height":0,"label":"Salinity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1492,"y":650,"wires":[[]]},{"id":"1c10dac3.839185","type":"ui_chart","z":"8a672473.d53938","name":"","group":"a56a3c5b.305f","order":4,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1492,"y":710,"wires":[[]]},{"id":"b2787b38.74c638","type":"ui_chart","z":"8a672473.d53938","name":"","group":"a56a3c5b.305f","order":5,"width":0,"height":0,"label":"DO %","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1492,"y":770,"wires":[[]]},{"id":"107f8f7d.1e73a1","type":"ui_chart","z":"8a672473.d53938","name":"","group":"a56a3c5b.305f","order":6,"width":0,"height":0,"label":"DO Saturation ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1542,"y":810,"wires":[[]]},{"id":"ef9f629b.41f05","type":"ui_chart","z":"8a672473.d53938","name":"","group":"a56a3c5b.305f","order":7,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1492,"y":890,"wires":[[]]},{"id":"c7dd74a2.790d78","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"a56a3c5b.305f","type":"ui_group","name":"EC DO Temp","tab":"459c002f.aa916","order":5,"disp":true,"width":"12","collapse":false},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard"}]