One Channel Vibration Plus.json
[{"id":"5a614edf.32654","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"bc8f997b.8c4218","type":"ncd-wireless-node","z":"5a614edf.32654","name":"","connection":"c7dd74a2.790d78","config_comm":"c7dd74a2.790d78","addr":"","sensor_type":"80","auto_config":"","node_id":0,"delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"force_calibration_co2_auto_config":"","force_calibration_co2":400,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"output_data_rate_101_active":"","output_data_rate_101":0,"sampling_duration_101_active":"","sampling_duration_101":1,"sampling_interval_101_active":"","sampling_interval_101":1,"full_scale_range_101_active":"","full_scale_range_101":1,"x_axis_101":"","y_axis_101":"","z_axis_101":"","x":480,"y":380,"wires":[["7204632a.638b3c","84e8fc95.41da3"]]},{"id":"7204632a.638b3c","type":"debug","z":"5a614edf.32654","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"84e8fc95.41da3","type":"split","z":"5a614edf.32654","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":780,"y":500,"wires":[["2457e7a6.51aea8"]]},{"id":"2457e7a6.51aea8","type":"switch","z":"5a614edf.32654","name":"1 Vibration Plus","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"odr","vt":"str"},{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"x_rms_ACC_mg","vt":"str"},{"t":"eq","v":"x_max_ACC_mg","vt":"str"},{"t":"eq","v":"x_velocity_mm_sec","vt":"str"},{"t":"eq","v":"x_displacement_mm","vt":"str"},{"t":"eq","v":"x_peak_one_Hz","vt":"str"},{"t":"eq","v":"x_peak_two_Hz","vt":"str"},{"t":"eq","v":"x_peak_three_Hz","vt":"str"},{"t":"eq","v":"y_rms_ACC_mg","vt":"str"},{"t":"eq","v":"y_max_ACC_mg","vt":"str"},{"t":"eq","v":"y_velocity_mm_sec","vt":"str"},{"t":"eq","v":"y_displacement_mm","vt":"str"},{"t":"eq","v":"y_peak_one_Hz","vt":"str"},{"t":"eq","v":"y_peak_two_Hz","vt":"str"},{"t":"eq","v":"y_peak_three_Hz","vt":"str"},{"t":"eq","v":"z_rms_ACC_mg","vt":"str"},{"t":"eq","v":"z_max_ACC_mg","vt":"str"},{"t":"eq","v":"z_velocity_mm_sec","vt":"str"},{"t":"eq","v":"z_displacement_mm","vt":"str"},{"t":"eq","v":"z_peak_one_Hz","vt":"str"},{"t":"eq","v":"z_peak_two_Hz","vt":"str"},{"t":"eq","v":"z_peak_three_Hz","vt":"str"}],"checkall":"true","repair":false,"outputs":23,"x":1050,"y":520,"wires":[["b34b8c08.e6849"],["e1650c83.d32ab"],["60cbcd4c.91bdc4"],["a449ba4c.2a2cd8"],["10c387a9.7261f8"],["90c79649.0b1c38"],["528c71a5.bdb45"],["eff76e5b.89d99"],["9009ba5b.55ec88"],["b8f0798e.643428"],["dfd904a.fa91ff8"],["eb71c4bd.0d7e28"],["3710cda4.02c382"],["2bfc6bf0.0e1d24"],["dd17cf84.19b79"],["ea58c639.7bd958"],["e4ca3da7.2594c"],["2c223646.35731a"],["5d676b2b.c0a1f4"],["522e7047.83fcc"],["49fcb48e.2153ec"],["397cee46.22d1f2"],["8e7bd1fe.68eb2"]]},{"id":"e1650c83.d32ab","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-50","ymax":"125","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1400,"y":400,"wires":[[]]},{"id":"60cbcd4c.91bdc4","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"x_rms_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":460,"wires":[[]]},{"id":"a449ba4c.2a2cd8","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"x_max_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":500,"wires":[[]]},{"id":"10c387a9.7261f8","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"x_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":540,"wires":[[]]},{"id":"90c79649.0b1c38","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"x_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":580,"wires":[[]]},{"id":"528c71a5.bdb45","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"X Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":620,"wires":[[]]},{"id":"eff76e5b.89d99","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"X Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":660,"wires":[[]]},{"id":"9009ba5b.55ec88","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"X Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":700,"wires":[[]]},{"id":"b8f0798e.643428","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"y_rms_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":740,"wires":[[]]},{"id":"dfd904a.fa91ff8","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"y_max_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":780,"wires":[[]]},{"id":"eb71c4bd.0d7e28","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"y_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":820,"wires":[[]]},{"id":"3710cda4.02c382","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"y_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1400,"y":860,"wires":[[]]},{"id":"2bfc6bf0.0e1d24","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"Y Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":900,"wires":[[]]},{"id":"dd17cf84.19b79","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"Y Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":940,"wires":[[]]},{"id":"ea58c639.7bd958","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"Y Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":980,"wires":[[]]},{"id":"e4ca3da7.2594c","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"z_rms_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1040,"wires":[[]]},{"id":"2c223646.35731a","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"z_max_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1080,"wires":[[]]},{"id":"5d676b2b.c0a1f4","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"z_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1360,"y":1120,"wires":[[]]},{"id":"522e7047.83fcc","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"z_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":1160,"wires":[[]]},{"id":"49fcb48e.2153ec","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"Z Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":1200,"wires":[[]]},{"id":"397cee46.22d1f2","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"Z Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1240,"wires":[[]]},{"id":"8e7bd1fe.68eb2","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"Z Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1280,"wires":[[]]},{"id":"b34b8c08.e6849","type":"ui_chart","z":"5a614edf.32654","name":"","group":"d4b2549d.45a038","order":0,"width":0,"height":0,"label":"ODR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"8000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":360,"wires":[[]]},{"id":"c7dd74a2.790d78","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"d4b2549d.45a038","type":"ui_group","name":"One Channel Vibration Plus","tab":"459c002f.aa916","order":6,"disp":true,"width":"12","collapse":true},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard","disabled":false,"hidden":false}]