PM CO2.json
[{"id":"2d4a0c87.086064","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1cdb797e.295e17","type":"ncd-wireless-node","z":"2d4a0c87.086064","name":"PM CO2 Sensor","connection":"1583fe57.e1e942","config_comm":"1583fe57.e1e942","addr":"00:13:a2:00:41:ba:c4:17","sensor_type":"53","auto_config":true,"node_id":0,"delay":"30","destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":260,"y":560,"wires":[["587f46d4.83d878","c98838e7.77d4b8"]]},{"id":"587f46d4.83d878","type":"split","z":"2d4a0c87.086064","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":460,"y":560,"wires":[["1a8978bd.404127"]]},{"id":"1a8978bd.404127","type":"switch","z":"2d4a0c87.086064","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mass_concentration_1_0","vt":"str"},{"t":"eq","v":"mass_concentration_2_5","vt":"str"},{"t":"eq","v":"mass_concentration_4_0","vt":"str"},{"t":"eq","v":"mass_concentration_10_0","vt":"str"},{"t":"eq","v":"number_concentration_0_5","vt":"str"},{"t":"eq","v":"number_concentration_1_0","vt":"str"},{"t":"eq","v":"number_concentration_2_5","vt":"str"},{"t":"eq","v":"number_concentration_4_0","vt":"str"},{"t":"eq","v":"number_concentration_10_0","vt":"str"},{"t":"eq","v":"typical_size","vt":"str"},{"t":"eq","v":"Humidity","vt":"str"},{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"CO2","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":650,"y":560,"wires":[["ae6a619a.fb861","415f498f.ffad28"],["4e4f94ac.c377bc","53bd0255.fabd0c"],["cce8ea84.555a48","638e1138.58d1"],["52379a33.3816a4","a17e0322.f8928"],["2cff4afb.ce5e06","469b620f.2c3bdc"],["8af62f05.6594b","4fd70c6f.eb30c4"],["d41fdce1.06b0b","271ed1b7.0f11ce"],["e662e371.301cc","f21fc535.ba3938"],["2c6f095b.dfc776","c0837f8.7b60c8"],["96ff3a51.e4e5a8","e7f9bcb4.b838a"],["87269fa2.ff794","135d48fc.de5847"],["6fe76e61.6d79b","b32fe28f.63a94"],["a11e99d.9c13c68","3a62eb17.a2b944"]]},{"id":"c98838e7.77d4b8","type":"change","z":"2d4a0c87.086064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":860,"wires":[["497625ab.daf9ec"]]},{"id":"497625ab.daf9ec","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"651b485f.c6fec8","order":4,"width":"6","height":"4","gtype":"gage","title":"Battery","label":"V","format":"{{value | number:2}}","min":0,"max":"3.3","colors":["#e00600","#e6e600","#07ca00"],"seg1":"","seg2":"","x":700,"y":860,"wires":[]},{"id":"ae6a619a.fb861","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_1_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":280,"wires":[]},{"id":"4e4f94ac.c377bc","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_2_5","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":360,"wires":[]},{"id":"cce8ea84.555a48","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_4_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":420,"wires":[]},{"id":"52379a33.3816a4","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_10_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":480,"wires":[]},{"id":"2cff4afb.ce5e06","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_0_5","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":540,"wires":[]},{"id":"8af62f05.6594b","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_1_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":600,"wires":[]},{"id":"d41fdce1.06b0b","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_2_5","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":660,"wires":[]},{"id":"e662e371.301cc","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_4_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":720,"wires":[]},{"id":"2c6f095b.dfc776","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_10_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":780,"wires":[]},{"id":"415f498f.ffad28","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"mass_concentration_1_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1260,"y":280,"wires":[[]]},{"id":"53bd0255.fabd0c","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"mass_concentration_2_5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":360,"wires":[[]]},{"id":"638e1138.58d1","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"mass_concentration_4_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":420,"wires":[[]]},{"id":"a17e0322.f8928","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"mass_concentration_10_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":480,"wires":[[]]},{"id":"469b620f.2c3bdc","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"number_concentration_0_5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":540,"wires":[[]]},{"id":"4fd70c6f.eb30c4","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"number_concentration_1_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":600,"wires":[[]]},{"id":"271ed1b7.0f11ce","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"number_concentration_2_5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":660,"wires":[[]]},{"id":"f21fc535.ba3938","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"number_concentration_4_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":720,"wires":[[]]},{"id":"c0837f8.7b60c8","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"number_concentration_10_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":780,"wires":[[]]},{"id":"96ff3a51.e4e5a8","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"Typical Size","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":840,"wires":[]},{"id":"87269fa2.ff794","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":920,"wires":[]},{"id":"6fe76e61.6d79b","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":980,"wires":[]},{"id":"e7f9bcb4.b838a","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"Typical Size","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":840,"wires":[[]]},{"id":"135d48fc.de5847","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":900,"wires":[[]]},{"id":"b32fe28f.63a94","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"Temperature ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":960,"wires":[[]]},{"id":"a11e99d.9c13c68","type":"ui_gauge","z":"2d4a0c87.086064","name":"","group":"61d4f913.dd7178","order":0,"width":0,"height":0,"gtype":"gage","title":"CO2","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":1040,"wires":[]},{"id":"3a62eb17.a2b944","type":"ui_chart","z":"2d4a0c87.086064","name":"","group":"b6ba612c.92f09","order":0,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":1020,"wires":[[]]},{"id":"372416b0.e9320a","type":"ncd-gateway-node","z":"2d4a0c87.086064","name":"","connection":"1583fe57.e1e942","x":320,"y":440,"wires":[["7e004f77.cccd"]]},{"id":"7e004f77.cccd","type":"debug","z":"2d4a0c87.086064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":660,"wires":[]},{"id":"1583fe57.e1e942","type":"ncd-gateway-config","name":"USB Modem","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM26","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"651b485f.c6fec8","type":"ui_group","name":"Wireless CO2 Gas Sensor","tab":"459c002f.aa916","order":1,"disp":true,"width":"12","collapse":false},{"id":"61d4f913.dd7178","type":"ui_group","name":"PM Live","tab":"459c002f.aa916","order":5,"disp":true,"width":"12","collapse":false},{"id":"b6ba612c.92f09","type":"ui_group","name":"PM Histroical ","tab":"459c002f.aa916","order":6,"disp":true,"width":"12","collapse":false},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard"}]