PM Sensor.json
[{"id":"c0162751.ae0de8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df63c6ed.9ea3b8","type":"ncd-wireless-node","z":"c0162751.ae0de8","name":"PM Sensor","connection":"c7dd74a2.790d78","config_comm":"c7dd74a2.790d78","addr":"00:13:a2:00:41:cf:78:f8","sensor_type":"32","auto_config":true,"node_id":0,"delay":"30","destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"force_calibration_co2_auto_config":false,"force_calibration_co2":"","filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"sampling_duration_101":"","x_axis_101":false,"y_axis_101":false,"z_axis_101":false,"x":260,"y":540,"wires":[["7f02fc53.72c064","7987541a.6abbec"]]},{"id":"7f02fc53.72c064","type":"split","z":"c0162751.ae0de8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":460,"y":560,"wires":[["a77b355.233bcc8"]]},{"id":"a77b355.233bcc8","type":"switch","z":"c0162751.ae0de8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"mass_concentration_1_0","vt":"str"},{"t":"eq","v":"mass_concentration_2_5","vt":"str"},{"t":"eq","v":"mass_concentration_4_0","vt":"str"},{"t":"eq","v":"mass_concentration_10_0","vt":"str"},{"t":"eq","v":"number_concentration_0_5","vt":"str"},{"t":"eq","v":"number_concentration_1_0","vt":"str"},{"t":"eq","v":"number_concentration_2_5","vt":"str"},{"t":"eq","v":"number_concentration_4_0","vt":"str"},{"t":"eq","v":"number_concentration_10_0","vt":"str"},{"t":"eq","v":"typical_size","vt":"str"},{"t":"eq","v":"Humidity","vt":"str"},{"t":"eq","v":"Temperature","vt":"str"},{"t":"eq","v":"CO2","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":650,"y":560,"wires":[["6729a660.ec54e8","dcffb96d.827c08"],["9cad281.bea24d8","6526222d.b671ec"],["85ab4ce.6b93fb","b905f65.87a1408"],["183e1034.44af5","f6fc5130.9d39f"],["cdcaddbb.8f18","897a8ee8.a481d"],["6806ab7c.7c11c4","34991a97.0b5c36"],["3cb98333.ae948c","43cbcdfd.0c4324"],["c5045f23.b1b61","549a9c48.3c4684"],["af546eae.24483","ec19fff6.a531e"],["6370e7b8.844008","46a0155a.aee50c"],["5e3a552d.e44c1c","6461c5d6.acd2ac"],["4a7b4ca6.7785c4","8e3b6712.c65258"],[]]},{"id":"7987541a.6abbec","type":"change","z":"c0162751.ae0de8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":860,"wires":[["2e8766bb.c0e8ba"]]},{"id":"2e8766bb.c0e8ba","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"a8bef625.f80db8","order":4,"width":"6","height":"4","gtype":"gage","title":"Battery","label":"V","format":"{{value | number:2}}","min":0,"max":"3.3","colors":["#e00600","#e6e600","#07ca00"],"seg1":"","seg2":"","x":700,"y":860,"wires":[]},{"id":"6729a660.ec54e8","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_1_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":280,"wires":[]},{"id":"9cad281.bea24d8","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_2_5","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":360,"wires":[]},{"id":"85ab4ce.6b93fb","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_4_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":420,"wires":[]},{"id":"183e1034.44af5","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"mass_concentration_10_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":480,"wires":[]},{"id":"cdcaddbb.8f18","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_0_5","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":540,"wires":[]},{"id":"6806ab7c.7c11c4","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_1_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":600,"wires":[]},{"id":"3cb98333.ae948c","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_2_5","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":660,"wires":[]},{"id":"c5045f23.b1b61","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_4_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":720,"wires":[]},{"id":"af546eae.24483","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"number_concentration_10_0","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":780,"wires":[]},{"id":"dcffb96d.827c08","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"mass_concentration_1_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1260,"y":280,"wires":[[]]},{"id":"6526222d.b671ec","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"mass_concentration_2_5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":360,"wires":[[]]},{"id":"b905f65.87a1408","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"mass_concentration_4_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":420,"wires":[[]]},{"id":"f6fc5130.9d39f","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"mass_concentration_10_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":480,"wires":[[]]},{"id":"897a8ee8.a481d","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"number_concentration_0_5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":540,"wires":[[]]},{"id":"34991a97.0b5c36","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"number_concentration_1_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":600,"wires":[[]]},{"id":"43cbcdfd.0c4324","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"number_concentration_2_5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":660,"wires":[[]]},{"id":"549a9c48.3c4684","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"number_concentration_4_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":720,"wires":[[]]},{"id":"ec19fff6.a531e","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"number_concentration_10_0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":780,"wires":[[]]},{"id":"6370e7b8.844008","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"Typical Size","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":840,"wires":[]},{"id":"46a0155a.aee50c","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"Typical Size","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":840,"wires":[[]]},{"id":"5e3a552d.e44c1c","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":900,"wires":[[]]},{"id":"4a7b4ca6.7785c4","type":"ui_chart","z":"c0162751.ae0de8","name":"","group":"8919f003.3b2df","order":0,"width":0,"height":0,"label":"Temperature ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":960,"wires":[[]]},{"id":"1d241150.50f18f","type":"ncd-gateway-node","z":"c0162751.ae0de8","name":"","connection":"c7dd74a2.790d78","unknown_devices":false,"outputs":1,"x":320,"y":440,"wires":[["84cc4d55.1fe91"]]},{"id":"84cc4d55.1fe91","type":"debug","z":"c0162751.ae0de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":660,"wires":[]},{"id":"6461c5d6.acd2ac","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":920,"wires":[]},{"id":"8e3b6712.c65258","type":"ui_gauge","z":"c0162751.ae0de8","name":"","group":"20c561e4.e563ae","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":980,"wires":[]},{"id":"c7dd74a2.790d78","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"a8bef625.f80db8","type":"ui_group","name":"Wireless CO2 Gas Sensor","tab":"459c002f.aa916","order":1,"disp":true,"width":"12","collapse":false},{"id":"20c561e4.e563ae","type":"ui_group","name":"PM Live","tab":"459c002f.aa916","order":5,"disp":true,"width":"12","collapse":false},{"id":"8919f003.3b2df","type":"ui_group","name":"PM Histroical ","tab":"459c002f.aa916","order":6,"disp":true,"width":"12","collapse":false},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard","disabled":false,"hidden":false}]