PR55-61_PM_Type_82.json
[{"id":"d1c66efb.6c498","type":"tab","label":"Type 82","disabled":true,"info":""},{"id":"42da38d0.e78668","type":"ncd-wireless-node","z":"d1c66efb.6c498","name":"Vibration Sensor ","connection":"de6ce063.c4f8","config_comm":"de6ce063.c4f8","addr":"00:13:a2:00:41:ba:c4:05","sensor_type":"81","auto_config":true,"node_id_delay_active":true,"node_id":"0","delay":"0","destination":"0000FFFF","power_active":true,"power":4,"retries_active":true,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"force_calibration_co2_auto_config":"","force_calibration_co2":400,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"mode_80_active":true,"mode_80":"2","measurement_mode_80_active":false,"on_request_timeout_80_active":false,"on_request_timeout_80":"","filter_80_active":false,"filter_80":"0","current_calibration_82":"","current_calibration_82_active":false,"output_data_rate_101_active":false,"output_data_rate_101":"9","sampling_duration_101_active":false,"sampling_duration_101":"20","sampling_interval_101_active":false,"sampling_interval_101":"0","full_scale_range_101_active":false,"full_scale_range_101":1,"x_axis_101":false,"y_axis_101":false,"z_axis_101":false,"x":440,"y":380,"wires":[["1e52e4a0.8b8ccb","86ac18e7.adb6e8"]]},{"id":"135c1b56.0abc95","type":"debug","z":"d1c66efb.6c498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"1e52e4a0.8b8ccb","type":"split","z":"d1c66efb.6c498","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":780,"y":500,"wires":[["69ea54ca.5f70ac"]]},{"id":"69ea54ca.5f70ac","type":"switch","z":"d1c66efb.6c498","name":"1 Vibration Plus","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"odr","vt":"str"},{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"Ext_temperature","vt":"str"},{"t":"eq","v":"Current","vt":"str"},{"t":"eq","v":"x_rms_ACC_G","vt":"str"},{"t":"eq","v":"x_max_ACC_G","vt":"str"},{"t":"eq","v":"x_velocity_mm_sec","vt":"str"},{"t":"eq","v":"x_displacement_mm","vt":"str"},{"t":"eq","v":"x_peak_one_Hz","vt":"str"},{"t":"eq","v":"x_peak_two_Hz","vt":"str"},{"t":"eq","v":"x_peak_three_Hz","vt":"str"},{"t":"eq","v":"y_rms_ACC_G","vt":"str"},{"t":"eq","v":"y_max_ACC_G","vt":"str"},{"t":"eq","v":"y_velocity_mm_sec","vt":"str"},{"t":"eq","v":"y_displacement_mm","vt":"str"},{"t":"eq","v":"y_peak_one_Hz","vt":"str"},{"t":"eq","v":"y_peak_two_Hz","vt":"str"},{"t":"eq","v":"y_peak_three_Hz","vt":"str"},{"t":"eq","v":"z_rms_ACC_G","vt":"str"},{"t":"eq","v":"z_max_ACC_G","vt":"str"},{"t":"eq","v":"z_velocity_mm_sec","vt":"str"},{"t":"eq","v":"z_displacement_mm","vt":"str"},{"t":"eq","v":"z_peak_one_Hz","vt":"str"},{"t":"eq","v":"z_peak_two_Hz","vt":"str"},{"t":"eq","v":"z_peak_three_Hz","vt":"str"}],"checkall":"true","repair":false,"outputs":25,"x":1050,"y":520,"wires":[["f2746fcc.4113f"],["d79c2740.71bd78"],["bb6f314e.4577e"],["69d02cd3.cf49e4"],["ce2308e0.dc25b8"],["f560d9d9.ca9448"],["3839a007.bc9fa"],["d1812239.def96"],["b9eef6a0.f211e8"],["c91aa343.216ce"],["dd990fb.4e210f"],["22a7abcd.a74c74"],["55f57ef5.c0af6"],["510e084d.68bf88"],["bc603571.7a2308"],["6af0030f.d1a14c"],["66c85f61.493c3"],["fe1f01e4.50981"],["11d25f12.f8c921"],["266a7194.28468e"],["bee57b12.fbb708"],["590532.ac2eaad"],["3e2c1301.e238dc"],["eef33ba1.1d7208"],["fa9e9a54.8916a8"]]},{"id":"d79c2740.71bd78","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-50","ymax":"125","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":320,"wires":[[]]},{"id":"ce2308e0.dc25b8","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":3,"width":0,"height":0,"label":"x_rms_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":460,"wires":[[]]},{"id":"f560d9d9.ca9448","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":4,"width":0,"height":0,"label":"x_max_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":500,"wires":[[]]},{"id":"3839a007.bc9fa","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":5,"width":0,"height":0,"label":"x_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":540,"wires":[[]]},{"id":"d1812239.def96","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":6,"width":0,"height":0,"label":"x_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":580,"wires":[[]]},{"id":"b9eef6a0.f211e8","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":7,"width":0,"height":0,"label":"X Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":620,"wires":[[]]},{"id":"c91aa343.216ce","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":8,"width":0,"height":0,"label":"X Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":660,"wires":[[]]},{"id":"dd990fb.4e210f","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":9,"width":0,"height":0,"label":"X Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":700,"wires":[[]]},{"id":"22a7abcd.a74c74","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":10,"width":0,"height":0,"label":"y_rms_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":740,"wires":[[]]},{"id":"55f57ef5.c0af6","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":11,"width":0,"height":0,"label":"y_max_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":780,"wires":[[]]},{"id":"510e084d.68bf88","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":12,"width":0,"height":0,"label":"y_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":820,"wires":[[]]},{"id":"bc603571.7a2308","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":13,"width":0,"height":0,"label":"y_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1400,"y":860,"wires":[[]]},{"id":"6af0030f.d1a14c","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":14,"width":0,"height":0,"label":"Y Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":900,"wires":[[]]},{"id":"66c85f61.493c3","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":15,"width":0,"height":0,"label":"Y Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":940,"wires":[[]]},{"id":"fe1f01e4.50981","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":16,"width":0,"height":0,"label":"Y Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":980,"wires":[[]]},{"id":"11d25f12.f8c921","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":17,"width":0,"height":0,"label":"z_rms_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1040,"wires":[[]]},{"id":"266a7194.28468e","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":18,"width":0,"height":0,"label":"z_max_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1080,"wires":[[]]},{"id":"bee57b12.fbb708","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":19,"width":0,"height":0,"label":"z_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1360,"y":1120,"wires":[[]]},{"id":"590532.ac2eaad","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":20,"width":0,"height":0,"label":"z_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":1160,"wires":[[]]},{"id":"3e2c1301.e238dc","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":21,"width":0,"height":0,"label":"Z Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":1200,"wires":[[]]},{"id":"eef33ba1.1d7208","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":22,"width":0,"height":0,"label":"Z Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1240,"wires":[[]]},{"id":"fa9e9a54.8916a8","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":23,"width":0,"height":0,"label":"Z Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1280,"wires":[[]]},{"id":"f2746fcc.4113f","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"ODR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"8000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1370,"y":280,"wires":[[]]},{"id":"7e71c9e0.35b0d8","type":"ncd-gateway-node","z":"d1c66efb.6c498","name":"","connection":"de6ce063.c4f8","unknown_devices":0,"outputs":1,"x":460,"y":260,"wires":[["135c1b56.0abc95"]]},{"id":"86ac18e7.adb6e8","type":"debug","z":"d1c66efb.6c498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":380,"wires":[]},{"id":"bb6f314e.4577e","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":2,"width":0,"height":0,"label":"Ext Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-50","ymax":"125","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1400,"y":360,"wires":[[]]},{"id":"69d02cd3.cf49e4","type":"ui_chart","z":"d1c66efb.6c498","name":"","group":"d4b2549d.45a038","order":2,"width":0,"height":0,"label":"Current ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"125","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":400,"wires":[[]]},{"id":"9d2b29a.e1179d8","type":"ncd-gateway-node","z":"d1c66efb.6c498","name":"Zigmo Modem","connection":"de6ce063.c4f8","unknown_devices":false,"outputs":1,"x":680,"y":1220,"wires":[["f402cd0.f9acb3","880f4cf5.5751d"]]},{"id":"8f95fec6.44b69","type":"inject","z":"d1c66efb.6c498","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"devices\":[\"00:13:a2:00:41:df:2a:76\"]}","payloadType":"json","x":390,"y":780,"wires":[["fc2234f4.ce5518"]]},{"id":"fc2234f4.ce5518","type":"function","z":"d1c66efb.6c498","name":"Add incomming device to context","func":"var newDevices = msg.payload.devices;\nvar existingDevices = flow.get('devices');\n\nif(typeof existingDevices == 'undefined'){\n    flow.set('devices',newDevices);\n    msg.payload.devices = newDevices;\n    return msg;\n}else{\n    for(let newDevice of newDevices){\n        exists = false;\n        for(let existingDevice of existingDevices){\n            if(newDevice == existingDevice){\n                exists = true;\n                break;\n            }\n        }\n        if(!exists){\n            existingDevices.push(newDevice);\n        } \n    }\n}\nflow.set('devices',existingDevices);\nmsg.payload.devices = existingDevices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":860,"wires":[[]]},{"id":"9b665dd2.07f5a","type":"function","z":"d1c66efb.6c498","name":"Check Devices","func":"var devices = flow.get('devices');\nvar ramdevices = flow.get('ramdevices');\nvar deviceID = msg.payload.addr;\nif(typeof devices == 'undefined')return;\nif(typeof ramdevices == 'undefined'){\n    ramdevices = [];\n    flow.set('ramdevices',ramdevices);\n    \n}\nfor(i = 0; i < devices.length; i++){\n    // console.log('device: '+devices[i]+' deviceID: '+deviceID);\n    if(deviceID == devices[i] && msg.payload.sensor_data.hasOwnProperty(\"x_rms_ACC_G\")){\n        if(ramdevices.includes(deviceID)){\n          msg.payload.address = deviceID;  \n        }\n        else{\n           msg.payload.address = \"00:00:00:00:00:00:ff:ff\" ;\n           ramdevices.push(deviceID);\n        }\n //       msg.payload.address = deviceID;\n        // msg.payload.address = \"00:00:00:00:00:00:ff:ff\"\n     //   msg.payload.data = [0xF4,0x4F,0x00,0x00,0x50,0x13];\n        msg.payload.data = [0xF4,0x4F,0x00,0x00,0x50,0x13,0x01]; // type 81 probe one\n    //    msg.payload.data = [0xF4,0x4F,0x00,0x00,0x50,0x13,0x02]; // type 81 probe two\n        // devices.splice(i,1);\n        flow.set(\"ramdevices\",ramdevices);\n        return msg;\n        \n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":980,"wires":[["c7bf62a7.6af4","35dfe7fb.0bbb98"]]},{"id":"f402cd0.f9acb3","type":"switch","z":"d1c66efb.6c498","name":"Vibration Check Valve","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"80","vt":"num"},{"t":"eq","v":"81","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":1220,"wires":[["9b665dd2.07f5a"],["9b665dd2.07f5a"]]},{"id":"c7bf62a7.6af4","type":"delay","z":"d1c66efb.6c498","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1200,"wires":[["9d2b29a.e1179d8"]]},{"id":"35dfe7fb.0bbb98","type":"debug","z":"d1c66efb.6c498","name":"check device","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1000,"wires":[]},{"id":"880f4cf5.5751d","type":"debug","z":"d1c66efb.6c498","name":"zigmo out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1300,"wires":[]},{"id":"de6ce063.c4f8","type":"ncd-gateway-config","name":"USB Modem 5","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":true},{"id":"d4b2549d.45a038","type":"ui_group","name":"One Channel Vibration Plus","tab":"c829fa52.85fe48","order":6,"disp":true,"width":"12","collapse":true},{"id":"c829fa52.85fe48","type":"ui_tab","name":"Sensor Graph","icon":"dashboard","disabled":false,"hidden":false}]