PR55-61_N_Type_81.json
[{"id":"91bf6b4e.b87aa8","type":"tab","label":"Type 81","disabled":false,"info":""},{"id":"88ae8ed.abcab7","type":"ncd-wireless-node","z":"91bf6b4e.b87aa8","name":"Vibration Sensor ","connection":"de6ce063.c4f8","config_comm":"de6ce063.c4f8","addr":"00:13:a2:00:41:ba:c4:05","sensor_type":"81","auto_config":true,"node_id_delay_active":false,"node_id":"0","delay":"0","destination":"0000FFFF","power_active":false,"power":4,"retries_active":false,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"force_calibration_co2_auto_config":"","force_calibration_co2":400,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"mode_80_active":true,"mode_80":"2","measurement_mode_80_active":false,"on_request_timeout_80_active":false,"on_request_timeout_80":"10","filter_80_active":false,"filter_80":"0","output_data_rate_p1_81_active":true,"output_data_rate_p1_81":"11","output_data_rate_p2_81_active":true,"output_data_rate_p2_81":"9","sampling_duration_p1_81_active":true,"sampling_duration_p1_81":"10","sampling_duration_p2_81_active":true,"sampling_duration_p2_81":"10","current_calibration_82":"","current_calibration_82_active":false,"output_data_rate_101_active":false,"output_data_rate_101":"9","sampling_duration_101_active":false,"sampling_duration_101":"20","sampling_interval_101_active":false,"sampling_interval_101":"0","full_scale_range_101_active":false,"full_scale_range_101":1,"x_axis_101":false,"y_axis_101":false,"z_axis_101":false,"x":260,"y":220,"wires":[["f71baa61.90e588","9016efc7.02b31"]]},{"id":"cf5521cb.ff0c3","type":"debug","z":"91bf6b4e.b87aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"f71baa61.90e588","type":"split","z":"91bf6b4e.b87aa8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":600,"y":340,"wires":[["451afefb.63b79","417e3656.bef1f8"]]},{"id":"451afefb.63b79","type":"switch","z":"91bf6b4e.b87aa8","name":"1 Vibration Plus Probe 1","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"s1_odr","vt":"str"},{"t":"eq","v":"ts1_emperature","vt":"str"},{"t":"eq","v":"s1_x_rms_ACC_G","vt":"str"},{"t":"eq","v":"s1_x_max_ACC_G","vt":"str"},{"t":"eq","v":"s1_x_velocity_mm_sec","vt":"str"},{"t":"eq","v":"s1_x_displacement_mm","vt":"str"},{"t":"eq","v":"s1_x_peak_one_Hz","vt":"str"},{"t":"eq","v":"s1_x_peak_two_Hz","vt":"str"},{"t":"eq","v":"s1_x_peak_three_Hz","vt":"str"},{"t":"eq","v":"s1_y_rms_ACC_G","vt":"str"},{"t":"eq","v":"s1_y_max_ACC_G","vt":"str"},{"t":"eq","v":"s1_y_velocity_mm_sec","vt":"str"},{"t":"eq","v":"s1_y_displacement_mm","vt":"str"},{"t":"eq","v":"s1_y_peak_one_Hz","vt":"str"},{"t":"eq","v":"s1_y_peak_two_Hz","vt":"str"},{"t":"eq","v":"s1_y_peak_three_Hz","vt":"str"},{"t":"eq","v":"s1_z_rms_ACC_G","vt":"str"},{"t":"eq","v":"s1_z_max_ACC_G","vt":"str"},{"t":"eq","v":"s1_z_velocity_mm_sec","vt":"str"},{"t":"eq","v":"s1_z_displacement_mm","vt":"str"},{"t":"eq","v":"s1_z_peak_one_Hz","vt":"str"},{"t":"eq","v":"s1_z_peak_two_Hz","vt":"str"},{"t":"eq","v":"s1_z_peak_three_Hz","vt":"str"}],"checkall":"true","repair":false,"outputs":23,"x":900,"y":360,"wires":[["19ecec91.c7f1e3"],["da2b23eb.a793c"],["e2c0e4f.1c40a18"],["c7ae4627.8a54b8"],["381975e3.fe997a"],["edcbfe25.0b986"],["a308b0ee.119b4"],["61c2bc5e.a1e8f4"],["2d5a0ddf.f36612"],["5240523e.5f4b9c"],["f25a911a.8f883"],["aa327014.a7939"],["e7f1d57f.4a3ef8"],["1e8faea7.79ca71"],["3fb39f8e.5b7e3"],["a7db890e.2775d8"],["da5a7c84.89f1b"],["a641d5b7.d9fbb8"],["3394509f.ebfac"],["8beaf3b.ce0331"],["3d461c0d.9cb654"],["d3f9c5cc.2ede48"],["8265eeda.321af"]]},{"id":"da2b23eb.a793c","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-50","ymax":"125","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":160,"wires":[[]]},{"id":"e2c0e4f.1c40a18","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":3,"width":0,"height":0,"label":"x_rms_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":300,"wires":[[]]},{"id":"c7ae4627.8a54b8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":4,"width":0,"height":0,"label":"x_max_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":340,"wires":[[]]},{"id":"381975e3.fe997a","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":5,"width":0,"height":0,"label":"x_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":380,"wires":[[]]},{"id":"edcbfe25.0b986","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":6,"width":0,"height":0,"label":"x_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":420,"wires":[[]]},{"id":"a308b0ee.119b4","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":7,"width":0,"height":0,"label":"X Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":460,"wires":[[]]},{"id":"61c2bc5e.a1e8f4","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":8,"width":0,"height":0,"label":"X Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":500,"wires":[[]]},{"id":"2d5a0ddf.f36612","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":9,"width":0,"height":0,"label":"X Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":540,"wires":[[]]},{"id":"5240523e.5f4b9c","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":10,"width":0,"height":0,"label":"y_rms_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":580,"wires":[[]]},{"id":"f25a911a.8f883","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":11,"width":0,"height":0,"label":"y_max_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":620,"wires":[[]]},{"id":"aa327014.a7939","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":12,"width":0,"height":0,"label":"y_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":660,"wires":[[]]},{"id":"e7f1d57f.4a3ef8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":13,"width":0,"height":0,"label":"y_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":700,"wires":[[]]},{"id":"1e8faea7.79ca71","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":14,"width":0,"height":0,"label":"Y Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":740,"wires":[[]]},{"id":"3fb39f8e.5b7e3","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":15,"width":0,"height":0,"label":"Y Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":780,"wires":[[]]},{"id":"a7db890e.2775d8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":16,"width":0,"height":0,"label":"Y Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1230,"y":820,"wires":[[]]},{"id":"da5a7c84.89f1b","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":17,"width":0,"height":0,"label":"z_rms_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1220,"y":860,"wires":[[]]},{"id":"a641d5b7.d9fbb8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":18,"width":0,"height":0,"label":"z_max_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":920,"wires":[[]]},{"id":"3394509f.ebfac","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":19,"width":0,"height":0,"label":"z_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":960,"wires":[[]]},{"id":"8beaf3b.ce0331","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":20,"width":0,"height":0,"label":"z_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":1000,"wires":[[]]},{"id":"3d461c0d.9cb654","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":21,"width":0,"height":0,"label":"Z Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":1040,"wires":[[]]},{"id":"d3f9c5cc.2ede48","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":22,"width":0,"height":0,"label":"Z Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":1080,"wires":[[]]},{"id":"8265eeda.321af","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":23,"width":0,"height":0,"label":"Z Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1210,"y":1120,"wires":[[]]},{"id":"19ecec91.c7f1e3","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"ODR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"8000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":120,"wires":[[]]},{"id":"6ab35fe3.096d7","type":"ncd-gateway-node","z":"91bf6b4e.b87aa8","name":"","connection":"de6ce063.c4f8","unknown_devices":0,"outputs":1,"x":280,"y":100,"wires":[["cf5521cb.ff0c3"]]},{"id":"9016efc7.02b31","type":"debug","z":"91bf6b4e.b87aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":220,"wires":[]},{"id":"fa7025f6.6cd218","type":"ncd-gateway-node","z":"91bf6b4e.b87aa8","name":"Zigmo Modem","connection":"de6ce063.c4f8","unknown_devices":false,"outputs":1,"x":500,"y":1285,"wires":[["1d25ecf9.d21c43","afa54b75.0b7908"]]},{"id":"f58cd0ab.1993b","type":"inject","z":"91bf6b4e.b87aa8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"devices\":[\"00:13:a2:00:41:ba:c4:05\"]}","payloadType":"json","x":210,"y":845,"wires":[["361cbe74.8a7d12"]]},{"id":"361cbe74.8a7d12","type":"function","z":"91bf6b4e.b87aa8","name":"Add incomming device to context","func":"var newDevices = msg.payload.devices;\nvar existingDevices = flow.get('devices');\n\nif(typeof existingDevices == 'undefined'){\n    flow.set('devices',newDevices);\n    msg.payload.devices = newDevices;\n    return msg;\n}else{\n    for(let newDevice of newDevices){\n        exists = false;\n        for(let existingDevice of existingDevices){\n            if(newDevice == existingDevice){\n                exists = true;\n                break;\n            }\n        }\n        if(!exists){\n            existingDevices.push(newDevice);\n        } \n    }\n}\nflow.set('devices',existingDevices);\nmsg.payload.devices = existingDevices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":925,"wires":[[]]},{"id":"574ec32a.66499c","type":"function","z":"91bf6b4e.b87aa8","name":"Check Devices","func":"var devices = flow.get('devices');\nvar ramdevices = flow.get('ramdevices');\nvar deviceID = msg.payload.addr;\nif(typeof devices == 'undefined')return;\nif(typeof ramdevices == 'undefined'){\n    ramdevices = [];\n    flow.set('ramdevices',ramdevices);\n    \n}\nfor(i = 0; i < devices.length; i++){\n    // console.log('device: '+devices[i]+' deviceID: '+deviceID);\n    if(deviceID == devices[i] && msg.payload.sensor_data.hasOwnProperty(\"x1_rms_ACC_G\")){\n        if(ramdevices.includes(deviceID)){\n          msg.payload.address = deviceID;  \n        }\n        else{\n           msg.payload.address = \"00:00:00:00:00:00:ff:ff\" ;\n           ramdevices.push(deviceID);\n        }\n //       msg.payload.address = deviceID;\n        // msg.payload.address = \"00:00:00:00:00:00:ff:ff\"\n     //   msg.payload.data = [0xF4,0x4F,0x00,0x00,0x50,0x13];\n        msg.payload.data = [0xF4,0x4F,0x00,0x00,0x50,0x13,0x01]; // type 81 probe one\n      //  msg.payload.data = [0xF4,0x4F,0x00,0x00,0x50,0x13,0x02]; // type 81 probe two\n        // devices.splice(i,1);\n        flow.set(\"ramdevices\",ramdevices);\n        return msg;\n        \n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":1045,"wires":[["12ba62b2.90163d","742ac12.b30874"]]},{"id":"1d25ecf9.d21c43","type":"switch","z":"91bf6b4e.b87aa8","name":"Vibration Check Valve","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"81","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":1285,"wires":[["574ec32a.66499c"]]},{"id":"12ba62b2.90163d","type":"delay","z":"91bf6b4e.b87aa8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":1265,"wires":[["fa7025f6.6cd218"]]},{"id":"742ac12.b30874","type":"debug","z":"91bf6b4e.b87aa8","name":"check device","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1065,"wires":[]},{"id":"afa54b75.0b7908","type":"debug","z":"91bf6b4e.b87aa8","name":"zigmo out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":1365,"wires":[]},{"id":"417e3656.bef1f8","type":"switch","z":"91bf6b4e.b87aa8","name":"1 Vibration Plus Probe 2","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"s2_odr","vt":"str"},{"t":"eq","v":"s2_temperature","vt":"str"},{"t":"eq","v":"s2_x_rms_ACC_G","vt":"str"},{"t":"eq","v":"s2_x_max_ACC_G","vt":"str"},{"t":"eq","v":"s2_x_velocity_mm_sec","vt":"str"},{"t":"eq","v":"s2_x_displacement_mm","vt":"str"},{"t":"eq","v":"s2_x_peak_one_Hz","vt":"str"},{"t":"eq","v":"s2_x_peak_two_Hz","vt":"str"},{"t":"eq","v":"s2_x_peak_three_Hz","vt":"str"},{"t":"eq","v":"s2_y_rms_ACC_G","vt":"str"},{"t":"eq","v":"s2_y_max_ACC_G","vt":"str"},{"t":"eq","v":"s2_y_velocity_mm_sec","vt":"str"},{"t":"eq","v":"s2_y_displacement_mm","vt":"str"},{"t":"eq","v":"s2_y_peak_one_Hz","vt":"str"},{"t":"eq","v":"s2_y_peak_two_Hz","vt":"str"},{"t":"eq","v":"s2_y_peak_three_Hz","vt":"str"},{"t":"eq","v":"s2_z_rms_ACC_G","vt":"str"},{"t":"eq","v":"s2_z_max_ACC_G","vt":"str"},{"t":"eq","v":"s2_z_velocity_mm_sec","vt":"str"},{"t":"eq","v":"s2_z_displacement_mm","vt":"str"},{"t":"eq","v":"s2_z_peak_one_Hz","vt":"str"},{"t":"eq","v":"s2_z_peak_two_Hz","vt":"str"},{"t":"eq","v":"s2_z_peak_three_Hz","vt":"str"}],"checkall":"true","repair":false,"outputs":23,"x":1530,"y":380,"wires":[["283bda76.8147f6"],["904d2402.9ae3e8"],["9f52449d.232a98"],["72d5c4fc.2271cc"],["213efd9a.50d742"],["57c04008.fee0e"],["a245eba9.d494b8"],["6341432e.25e37c"],["af9558dd.738c28"],["e553f853.29b7c8"],["32279af2.9016a6"],["1980659e.cf58aa"],["cf7abbc9.eb2828"],["4117d930.99c088"],["48a2538e.564a3c"],["6d5984ca.6abbbc"],["917b6169.6fce3"],["ad5e3ca3.4bf02"],["b0a3fb19.5ccdd8"],["d1e7b398.630e3"],["b1f289a1.bbf0d8"],["a24a5785.1c70d8"],["b0a54546.8a7fd8"]]},{"id":"904d2402.9ae3e8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-50","ymax":"125","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1840,"y":180,"wires":[[]]},{"id":"9f52449d.232a98","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":3,"width":0,"height":0,"label":"x_rms_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1870,"y":320,"wires":[[]]},{"id":"72d5c4fc.2271cc","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":4,"width":0,"height":0,"label":"x_max_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1860,"y":360,"wires":[[]]},{"id":"213efd9a.50d742","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":5,"width":0,"height":0,"label":"x_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1840,"y":400,"wires":[[]]},{"id":"57c04008.fee0e","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":6,"width":0,"height":0,"label":"x_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1860,"y":440,"wires":[[]]},{"id":"a245eba9.d494b8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":7,"width":0,"height":0,"label":"X Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1870,"y":480,"wires":[[]]},{"id":"6341432e.25e37c","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":8,"width":0,"height":0,"label":"X Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1870,"y":520,"wires":[[]]},{"id":"af9558dd.738c28","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":9,"width":0,"height":0,"label":"X Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1870,"y":560,"wires":[[]]},{"id":"e553f853.29b7c8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":10,"width":0,"height":0,"label":"y_rms_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1860,"y":600,"wires":[[]]},{"id":"32279af2.9016a6","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":11,"width":0,"height":0,"label":"y_max_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1850,"y":640,"wires":[[]]},{"id":"1980659e.cf58aa","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":12,"width":0,"height":0,"label":"y_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1830,"y":680,"wires":[[]]},{"id":"cf7abbc9.eb2828","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":13,"width":0,"height":0,"label":"y_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1850,"y":720,"wires":[[]]},{"id":"4117d930.99c088","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":14,"width":0,"height":0,"label":"Y Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1860,"y":760,"wires":[[]]},{"id":"48a2538e.564a3c","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":15,"width":0,"height":0,"label":"Y Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1860,"y":800,"wires":[[]]},{"id":"6d5984ca.6abbbc","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":16,"width":0,"height":0,"label":"Y Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1860,"y":840,"wires":[[]]},{"id":"917b6169.6fce3","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":17,"width":0,"height":0,"label":"z_rms_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1840,"y":900,"wires":[[]]},{"id":"ad5e3ca3.4bf02","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":18,"width":0,"height":0,"label":"z_max_ACC_G","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1830,"y":940,"wires":[[]]},{"id":"b0a3fb19.5ccdd8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":19,"width":0,"height":0,"label":"z_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1810,"y":980,"wires":[[]]},{"id":"d1e7b398.630e3","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":20,"width":0,"height":0,"label":"z_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1830,"y":1020,"wires":[[]]},{"id":"b1f289a1.bbf0d8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":21,"width":0,"height":0,"label":"Z Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1830,"y":1060,"wires":[[]]},{"id":"a24a5785.1c70d8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":22,"width":0,"height":0,"label":"Z Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1840,"y":1100,"wires":[[]]},{"id":"b0a54546.8a7fd8","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":23,"width":0,"height":0,"label":"Z Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1840,"y":1140,"wires":[[]]},{"id":"283bda76.8147f6","type":"ui_chart","z":"91bf6b4e.b87aa8","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"ODR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"8000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1820,"y":140,"wires":[[]]},{"id":"de6ce063.c4f8","type":"ncd-gateway-config","name":"USB Modem 5","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":true},{"id":"d4b2549d.45a038","type":"ui_group","name":"One Channel Vibration Plus","tab":"c829fa52.85fe48","order":6,"disp":true,"width":"12","collapse":true},{"id":"c829fa52.85fe48","type":"ui_tab","name":"Sensor Graph","icon":"dashboard","disabled":false,"hidden":false}]