PR55-61_E Request data All time.json
[{"id":"41134bba.4413c4","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"d5b095c1.84afe8","type":"ncd-wireless-node","z":"41134bba.4413c4","name":"Vibration Sensor ","connection":"fb097326.d8685","config_comm":"fb097326.d8685","addr":"00:13:a2:00:41:d6:70:ea","sensor_type":"80","auto_config":true,"node_id_delay_active":false,"node_id":"0","delay":300,"destination":"0000FFFF","power_active":false,"power":"4","retries_active":false,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"force_calibration_co2_auto_config":"","force_calibration_co2":400,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"mode_80_active":true,"mode_80":"2","filter_80_active":false,"output_data_rate_101_active":true,"output_data_rate_101":"9","sampling_duration_101_active":true,"sampling_duration_101":"40","sampling_interval_101_active":false,"sampling_interval_101":"0","full_scale_range_101_active":"","full_scale_range_101":1,"x_axis_101":false,"y_axis_101":"","z_axis_101":"","x":440,"y":380,"wires":[["b5d7c7fb.40d898","d681cf0c.71587"]]},{"id":"9d1c2e79.a723c","type":"debug","z":"41134bba.4413c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"b5d7c7fb.40d898","type":"split","z":"41134bba.4413c4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":780,"y":500,"wires":[["32553036.0b46c"]]},{"id":"32553036.0b46c","type":"switch","z":"41134bba.4413c4","name":"1 Vibration Plus","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"odr","vt":"str"},{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"x_rms_ACC_G","vt":"str"},{"t":"eq","v":"x_max_ACC_G","vt":"str"},{"t":"eq","v":"x_velocity_mm_sec","vt":"str"},{"t":"eq","v":"x_displacement_mm","vt":"str"},{"t":"eq","v":"x_peak_one_Hz","vt":"str"},{"t":"eq","v":"x_peak_two_Hz","vt":"str"},{"t":"eq","v":"x_peak_three_Hz","vt":"str"},{"t":"eq","v":"y_rms_ACC_G","vt":"str"},{"t":"eq","v":"y_max_ACC_G","vt":"str"},{"t":"eq","v":"y_velocity_mm_sec","vt":"str"},{"t":"eq","v":"y_displacement_mm","vt":"str"},{"t":"eq","v":"y_peak_one_Hz","vt":"str"},{"t":"eq","v":"y_peak_two_Hz","vt":"str"},{"t":"eq","v":"y_peak_three_Hz","vt":"str"},{"t":"eq","v":"z_rms_ACC_G","vt":"str"},{"t":"eq","v":"z_max_ACC_G","vt":"str"},{"t":"eq","v":"z_velocity_mm_sec","vt":"str"},{"t":"eq","v":"z_displacement_mm","vt":"str"},{"t":"eq","v":"z_peak_one_Hz","vt":"str"},{"t":"eq","v":"z_peak_two_Hz","vt":"str"},{"t":"eq","v":"z_peak_three_Hz","vt":"str"}],"checkall":"true","repair":false,"outputs":23,"x":1050,"y":520,"wires":[["3c156e5f.554db2"],["23ad8749.3ab908"],["c152d3a1.93858"],["637bc903.a65d78"],["676d198b.213728"],["f7fce9e7.dc7a08"],["a10b4a63.94d9a8"],["f4449d45.71e68"],["3c64e6d3.19d1ea"],["1bbfafa8.23a0a"],["f73ae3a1.cc379"],["9df25280.9e4fc"],["9c93147e.1fd5c8"],["8f0cab1d.4cce38"],["c868d9b8.267598"],["f4b0291.4f5c6d8"],["43c1490a.822228"],["b217d5fd.895888"],["1020dbc4.dc5f04"],["40650bc5.6444b4"],["c9f03f33.a19dc"],["6dcaa7c9.51e4d8"],["7e9771b5.dcdf2"]]},{"id":"23ad8749.3ab908","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-50","ymax":"125","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1400,"y":400,"wires":[[]]},{"id":"c152d3a1.93858","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":3,"width":0,"height":0,"label":"x_rms_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":460,"wires":[[]]},{"id":"637bc903.a65d78","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":4,"width":0,"height":0,"label":"x_max_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":500,"wires":[[]]},{"id":"676d198b.213728","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":5,"width":0,"height":0,"label":"x_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":540,"wires":[[]]},{"id":"f7fce9e7.dc7a08","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":6,"width":0,"height":0,"label":"x_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":580,"wires":[[]]},{"id":"a10b4a63.94d9a8","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":7,"width":0,"height":0,"label":"X Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":620,"wires":[[]]},{"id":"f4449d45.71e68","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":8,"width":0,"height":0,"label":"X Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":660,"wires":[[]]},{"id":"3c64e6d3.19d1ea","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":9,"width":0,"height":0,"label":"X Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1420,"y":700,"wires":[[]]},{"id":"1bbfafa8.23a0a","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":10,"width":0,"height":0,"label":"y_rms_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":740,"wires":[[]]},{"id":"f73ae3a1.cc379","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":11,"width":0,"height":0,"label":"y_max_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":780,"wires":[[]]},{"id":"9df25280.9e4fc","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":12,"width":0,"height":0,"label":"y_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":820,"wires":[[]]},{"id":"9c93147e.1fd5c8","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":13,"width":0,"height":0,"label":"y_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1400,"y":860,"wires":[[]]},{"id":"8f0cab1d.4cce38","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":14,"width":0,"height":0,"label":"Y Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":900,"wires":[[]]},{"id":"c868d9b8.267598","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":15,"width":0,"height":0,"label":"Y Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":940,"wires":[[]]},{"id":"f4b0291.4f5c6d8","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":16,"width":0,"height":0,"label":"Y Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1410,"y":980,"wires":[[]]},{"id":"43c1490a.822228","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":17,"width":0,"height":0,"label":"z_rms_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1040,"wires":[[]]},{"id":"b217d5fd.895888","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":18,"width":0,"height":0,"label":"z_max_ACC_mg","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1080,"wires":[[]]},{"id":"1020dbc4.dc5f04","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":19,"width":0,"height":0,"label":"z_velocity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1360,"y":1120,"wires":[[]]},{"id":"40650bc5.6444b4","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":20,"width":0,"height":0,"label":"z_displacement ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"64","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":1160,"wires":[[]]},{"id":"c9f03f33.a19dc","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":21,"width":0,"height":0,"label":"Z Freq band one","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":1200,"wires":[[]]},{"id":"6dcaa7c9.51e4d8","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":22,"width":0,"height":0,"label":"Z Freq band Two","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1240,"wires":[[]]},{"id":"7e9771b5.dcdf2","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":23,"width":0,"height":0,"label":"Z Freq band Three","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1390,"y":1280,"wires":[[]]},{"id":"3c156e5f.554db2","type":"ui_chart","z":"41134bba.4413c4","name":"","group":"d4b2549d.45a038","order":1,"width":0,"height":0,"label":"ODR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"8000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":360,"wires":[[]]},{"id":"22d330c1.7f499","type":"ncd-gateway-node","z":"41134bba.4413c4","name":"Zigmo Modem","connection":"de6ce063.c4f8","unknown_devices":false,"outputs":1,"x":680,"y":1180,"wires":[["c21d9188.d8a39","b6b520a.475a0e"]]},{"id":"a6543571.7e74c8","type":"inject","z":"41134bba.4413c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"devices\":[\"00:13:a2:00:41:d6:70:ea\"]}","payloadType":"json","x":390,"y":740,"wires":[["38b75d79.277de2"]]},{"id":"38b75d79.277de2","type":"function","z":"41134bba.4413c4","name":"Add incomming device to context","func":"var newDevices = msg.payload.devices;\nvar existingDevices = flow.get('devices');\n\nif(typeof existingDevices == 'undefined'){\n    flow.set('devices',newDevices);\n    msg.payload.devices = newDevices;\n    return msg;\n}else{\n    for(let newDevice of newDevices){\n        exists = false;\n        for(let existingDevice of existingDevices){\n            if(newDevice == existingDevice){\n                exists = true;\n                break;\n            }\n        }\n        if(!exists){\n            existingDevices.push(newDevice);\n        } \n    }\n}\nflow.set('devices',existingDevices);\nmsg.payload.devices = existingDevices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":820,"wires":[[]]},{"id":"3ee7af40.ca28b","type":"function","z":"41134bba.4413c4","name":"Check Devices","func":"var devices = flow.get('devices');\nvar ramdevices = flow.get('ramdevices');\nvar deviceID = msg.payload.addr;\nif(typeof devices == 'undefined')return;\nif(typeof ramdevices == 'undefined'){\n    ramdevices = [];\n    flow.set('ramdevices',ramdevices);\n    \n}\nfor(i = 0; i < devices.length; i++){\n    // console.log('device: '+devices[i]+' deviceID: '+deviceID);\n    if(deviceID == devices[i] && msg.payload.sensor_data.hasOwnProperty(\"x_rms_ACC_G\")){\n        if(ramdevices.includes(deviceID)){\n          msg.payload.address = deviceID;  \n        }\n        else{\n           msg.payload.address = \"00:00:00:00:00:00:ff:ff\" ;\n           ramdevices.push(deviceID);\n        }\n //       msg.payload.address = deviceID;\n        // msg.payload.address = \"00:00:00:00:00:00:ff:ff\"\n        msg.payload.data = [0xF4,0x4F,0x00,0x00,0x50,0x13];\n        // devices.splice(i,1);\n        flow.set(\"ramdevices\",ramdevices);\n        return msg;\n        \n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":940,"wires":[["5097fb59.8adfb4","63a0d0bf.48042"]]},{"id":"c21d9188.d8a39","type":"switch","z":"41134bba.4413c4","name":"Vibration Check Valve","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":1180,"wires":[["6c62e7fe.652608","3ee7af40.ca28b"]]},{"id":"5097fb59.8adfb4","type":"delay","z":"41134bba.4413c4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1160,"wires":[["22d330c1.7f499"]]},{"id":"6c62e7fe.652608","type":"debug","z":"41134bba.4413c4","name":"check vib","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":1220,"wires":[]},{"id":"63a0d0bf.48042","type":"debug","z":"41134bba.4413c4","name":"check device","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":960,"wires":[]},{"id":"b6b520a.475a0e","type":"debug","z":"41134bba.4413c4","name":"zigmo out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1260,"wires":[]},{"id":"5bc95866.aa1408","type":"ncd-gateway-node","z":"41134bba.4413c4","name":"","connection":"de6ce063.c4f8","unknown_devices":true,"outputs":2,"x":460,"y":260,"wires":[["9d1c2e79.a723c"],["381f956b.76698a"]]},{"id":"d681cf0c.71587","type":"debug","z":"41134bba.4413c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":380,"wires":[]},{"id":"381f956b.76698a","type":"debug","z":"41134bba.4413c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":320,"wires":[]},{"id":"fb097326.d8685","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":true},{"id":"d4b2549d.45a038","type":"ui_group","name":"One Channel Vibration Plus","tab":"c829fa52.85fe48","order":6,"disp":true,"width":"12","collapse":true},{"id":"de6ce063.c4f8","type":"ncd-gateway-config","name":"USB Modem 5","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"c829fa52.85fe48","type":"ui_tab","name":"Sensor Graph","icon":"dashboard","disabled":false,"hidden":false}]