Vibration PR52-33N.json
[{"id":"8a672473.d53938","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8c9c3075.ac0b6","type":"ncd-wireless-node","z":"8a672473.d53938","name":"Vibration Sensor","connection":"c7dd74a2.790d78","config_comm":"c7dd74a2.790d78","addr":"00:13:a2:00:41:d2:4a:4c","sensor_type":"40","auto_config":"","node_id":"2","delay":300,"destination":"0000FFFF","power":4,"retries":10,"pan_id":"7FFF","change_enabled":"","change_pr":"0","change_interval":"0","cm_calibration":"60.6","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_accel":"0","impact_data_rate":"4","impact_threshold":25,"impact_duration":1,"activ_interr_x":1,"activ_interr_y":2,"activ_interr_z":4,"activ_interr_op":8,"filtering":0,"data_rate":5,"time_series":0,"reading_type":1,"x":600,"y":500,"wires":[["98b1074a.c25078"]]},{"id":"98b1074a.c25078","type":"switch","z":"8a672473.d53938","name":"","property":"payload.reserve","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":500,"wires":[["9900cd1a.c2df5"],["3a8f0877.42f6a8"]]},{"id":"9900cd1a.c2df5","type":"split","z":"8a672473.d53938","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1040,"y":500,"wires":[["b9186e35.76dcb"]]},{"id":"3a8f0877.42f6a8","type":"split","z":"8a672473.d53938","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1040,"y":560,"wires":[["472d3b8a.2d0b14"]]},{"id":"b9186e35.76dcb","type":"switch","z":"8a672473.d53938","name":"Vib1","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rms_x","vt":"str"},{"t":"eq","v":"rms_y","vt":"str"},{"t":"eq","v":"rms_z","vt":"str"},{"t":"eq","v":"max_x","vt":"str"},{"t":"eq","v":"max_y","vt":"str"},{"t":"eq","v":"max_z","vt":"str"},{"t":"eq","v":"min_x","vt":"str"},{"t":"eq","v":"min_y","vt":"str"},{"t":"eq","v":"min_z","vt":"str"},{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":1300,"y":496,"wires":[["a25246b9.2c85c8"],["988f1efc.47939"],["8c02d96e.3335e8"],["910ca70b.71c948"],["f8dc63cb.ab49b"],["784ec023.c411a"],["3fc2b77f.60e6c8"],["88c7039f.0de71"],["d55d5cc4.dc09a"],["4eb45627.0d9aa8"]]},{"id":"472d3b8a.2d0b14","type":"switch","z":"8a672473.d53938","name":"Vib2","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rms_x","vt":"str"},{"t":"eq","v":"rms_y","vt":"str"},{"t":"eq","v":"rms_z","vt":"str"},{"t":"eq","v":"max_x","vt":"str"},{"t":"eq","v":"max_y","vt":"str"},{"t":"eq","v":"max_z","vt":"str"},{"t":"eq","v":"min_x","vt":"str"},{"t":"eq","v":"min_y","vt":"str"},{"t":"eq","v":"min_z","vt":"str"},{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":1300,"y":876,"wires":[["c72018b9.cb9f58"],["ac46e84b.f97d68"],["db9bbf62.1f585"],["ab3dbfba.1668d"],["46fbce6d.74f1c"],["a345929d.63e5e"],["bbcefebd.25d27"],["2986835.237887c"],["290d9721.8dac68"],["9c1f845.9e63278"]]},{"id":"a25246b9.2c85c8","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"RMS_X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1640,"y":436,"wires":[[]]},{"id":"988f1efc.47939","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"RMS_Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":476,"wires":[[]]},{"id":"8c02d96e.3335e8","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"RMS_Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":516,"wires":[[]]},{"id":"910ca70b.71c948","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"Max_X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":556,"wires":[[]]},{"id":"f8dc63cb.ab49b","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"MAX_Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":596,"wires":[[]]},{"id":"784ec023.c411a","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"MAX_Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":636,"wires":[[]]},{"id":"3fc2b77f.60e6c8","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"MIN_X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1640,"y":676,"wires":[[]]},{"id":"88c7039f.0de71","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"MIN_Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":716,"wires":[[]]},{"id":"d55d5cc4.dc09a","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"MIN_Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":756,"wires":[[]]},{"id":"4eb45627.0d9aa8","type":"ui_chart","z":"8a672473.d53938","name":"","group":"353a203b.1df75","order":13,"width":0,"height":0,"label":"Temperature ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":816,"wires":[[]]},{"id":"c72018b9.cb9f58","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"RMS_X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":876,"wires":[[]]},{"id":"ac46e84b.f97d68","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"RMS_Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":916,"wires":[[]]},{"id":"db9bbf62.1f585","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"RMS_Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":956,"wires":[[]]},{"id":"ab3dbfba.1668d","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"Max_X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":996,"wires":[[]]},{"id":"46fbce6d.74f1c","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"MAX_Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1670,"y":1036,"wires":[[]]},{"id":"a345929d.63e5e","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"MAX_Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1670,"y":1076,"wires":[[]]},{"id":"bbcefebd.25d27","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"MIN_X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":1116,"wires":[[]]},{"id":"2986835.237887c","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"MIN_Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":1156,"wires":[[]]},{"id":"290d9721.8dac68","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"MIN_Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2000","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":1196,"wires":[[]]},{"id":"9c1f845.9e63278","type":"ui_chart","z":"8a672473.d53938","name":"","group":"34795f12.4eaa","order":13,"width":0,"height":0,"label":"Temperature ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1670,"y":1256,"wires":[[]]},{"id":"c7dd74a2.790d78","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"353a203b.1df75","type":"ui_group","name":"Vibration Sensor","tab":"459c002f.aa916","order":1,"disp":true,"width":"16","collapse":false},{"id":"34795f12.4eaa","type":"ui_group","name":"Vibration 2","tab":"459c002f.aa916","order":4,"disp":true,"width":"16","collapse":false},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard"}]