Weather Station.json
[{"id":"8a672473.d53938","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d0a2f131.c85c8","type":"ncd-wireless-node","z":"8a672473.d53938","name":"Weather Station","connection":"84abfe35.08e4f","config_comm":"84abfe35.08e4f","addr":"00:13:a2:00:41:88:d5:52","sensor_type":"202","auto_config":false,"node_id":0,"delay":"5","destination":"0000FFFF","power":"1","retries":10,"pan_id":"7FFF","change_enabled":false,"change_pr":"0","change_interval":"0","cm_calibration":"0","bp_altitude":"0","bp_pressure":"0","bp_temp_prec":"0","bp_press_prec":"0","amgt_accel":"0","amgt_mag":"0","amgt_gyro":"0","impact_threshold":"","impact_duration":"","x":780,"y":780,"wires":[["85e362dd.7a3aa","f317b863.3232e8"]]},{"id":"85e362dd.7a3aa","type":"split","z":"8a672473.d53938","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":990,"y":760,"wires":[["358e3ec2.698112"]]},{"id":"358e3ec2.698112","type":"switch","z":"8a672473.d53938","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Temp","vt":"str"},{"t":"eq","v":"Humid","vt":"str"},{"t":"eq","v":"Pressure","vt":"str"},{"t":"eq","v":"WindSpd","vt":"str"},{"t":"eq","v":"WindDir","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1130,"y":760,"wires":[["347bafd8.e91d4","faca1bfd.b2fc28","7b7e68a.b644198"],["eafbe130.58324","3ead6fcc.4a124"],["30b6bb3a.a92274","d0ac29d3.9ccbf8"],["9fb78223.106eb","f70b428e.d5821"],["dcdebb2a.935288","46a1e085.d33c5"]]},{"id":"f70b428e.d5821","type":"ui_chart","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":6,"width":"12","height":"6","label":"WindSpeed","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1670,"y":740,"wires":[[]]},{"id":"f317b863.3232e8","type":"change","z":"8a672473.d53938","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1020,"wires":[["e823adcc.afddd"]]},{"id":"faca1bfd.b2fc28","type":"function","z":"8a672473.d53938","name":"C to F","func":"msg.payload = (msg.payload * 1.8) + 32;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":940,"wires":[["f4a5b1fa.fb87b","3056a25a.71097e"]]},{"id":"f4a5b1fa.fb87b","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":4,"width":"6","height":"4","gtype":"gage","title":"Temperature","label":"Fahrenheit","format":"{{value | number:2}}","min":"30","max":"100","colors":["#dad0ff","#2ce619","#ca3838"],"seg1":"","seg2":"","x":1450,"y":960,"wires":[]},{"id":"e823adcc.afddd","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":5,"width":"6","height":"4","gtype":"gage","title":"Battery","label":"V","format":"{{value | number:2}}","min":0,"max":"3.3","colors":["#e00600","#e6e600","#07ca00"],"seg1":"","seg2":"","x":1360,"y":1020,"wires":[]},{"id":"3056a25a.71097e","type":"ui_chart","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":8,"width":"12","height":"6","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1650,"y":940,"wires":[[]]},{"id":"347bafd8.e91d4","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":1,"width":"4","height":"4","gtype":"gage","title":"Temp","label":"C","format":"{{value}}","min":"-40","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1410,"y":540,"wires":[]},{"id":"46a1e085.d33c5","type":"ui_chart","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":7,"width":"12","height":"6","label":"WindDirection","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"360","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1680,"y":820,"wires":[[]]},{"id":"eafbe130.58324","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":2,"width":"4","height":"4","gtype":"gage","title":"Humid","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1410,"y":620,"wires":[]},{"id":"30b6bb3a.a92274","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":3,"width":"4","height":"4","gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":"700","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":660,"wires":[]},{"id":"58bed306.8f096c","type":"ncd-gateway-node","z":"8a672473.d53938","name":"","connection":"c7dd74a2.790d78","x":850,"y":580,"wires":[["d651057c.dc6198"]]},{"id":"d651057c.dc6198","type":"debug","z":"8a672473.d53938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":520,"wires":[]},{"id":"9fb78223.106eb","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":4,"width":0,"height":0,"gtype":"gage","title":"Wind Speed","label":"m/sec","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1450,"y":740,"wires":[]},{"id":"dcdebb2a.935288","type":"ui_gauge","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":5,"width":0,"height":0,"gtype":"gage","title":"Wind Direction","label":"Degree","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1470,"y":820,"wires":[]},{"id":"7b7e68a.b644198","type":"ui_chart","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":9,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"110","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1660,"y":560,"wires":[[]]},{"id":"3ead6fcc.4a124","type":"ui_chart","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":10,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1670,"y":640,"wires":[[]]},{"id":"d0ac29d3.9ccbf8","type":"ui_chart","z":"8a672473.d53938","name":"","group":"d79de0e4.bda58","order":11,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"700","ymax":"1100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1690,"y":700,"wires":[[]]},{"id":"84abfe35.08e4f","type":"ncd-gateway-config","name":"USB modem","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"d79de0e4.bda58","type":"ui_group","name":"Weather Station","tab":"459c002f.aa916","order":1,"disp":true,"width":"12","collapse":false},{"id":"c7dd74a2.790d78","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"COM5","baudRate":"115200","pan_id":"7fff","rssi":false},{"id":"459c002f.aa916","type":"ui_tab","name":"History","icon":"dashboard"}]